@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

:root {
  --nav-bar-color: rgba(0, 0, 0, 0.1);
  --nav-bar-color-hover:rgba(0, 0, 0, 0.15);
  --nav-bar-text-color: rgba(0, 0, 0, 1)
  --content-section-color: rgba(255, 255, 255, 1);
  --content-section-text-color: rgba(0, 0, 0, 0.5);
  --todo-button-color: rgba(0, 0, 0, 0.7);
  --todo-button-color-hover: rgba(0, 0, 0, 0.5);
  font-family: 'Dosis';
}

*, *:after, *:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a:hover {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--nav-bar-color);
  color: var(--nav-bar-text-color);
}

#nav-bar h3 {
  margin-top: 50px;
  padding: 20px;
}

.nav-bar-button {
  padding: 20px;
  min-height: 60px;
  max-height: 60px;
  transition: background-color 0.4s ease-out;
}

.nav-bar-button:hover {
  background-color: var(--nav-bar-color-hover);
}

#projects-bar {
  display: flex;
  flex-direction: column;
  width: 400px;
  color: var(--nav-bar-text-color);
}

.project-button {
  display: flex;
  flex-direction: row;
  padding: 20px;
  min-height: 60px;
  max-height: 60px;
  transition: background-color 0.4s ease-out;
}

.project-button:hover {
  background-color: var(--nav-bar-color-hover);
}

.project-button input {
  border-radius: 5px;
  line-height: 25px;
  font-family: 'Dosis';
  width: 100%;
}

.project-button input:focus {
  box-shadow: 0 0 5px var(--nav-bar-color-hover);
  border: 1px solid var(--nav-bar-color-hover);
}

#project-section {
  width: 100%;
  padding: 40px;
}

#project-section h3 {
  font-size: 100px;
}

#project-section h1 {
  font-size: 35px;
}

#todo-list {
  display: flex;
  flex-direction: column;
}

#new-todo-button {

}

.todo-button {
  background-color: var(--todo-button-color);
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  transition: background-color 0.4s ease-out;
  margin: 5px;
  padding: 5px;
}

.todo-button:hover {
  background-color: var(--todo-button-color-hover);
}

.todo-button input {
  border-radius: 5px;
  line-height: 25px;
  font-family: 'Dosis';
  width: 100%;
  outline: none;
}

.todo-button input:focus {
  box-shadow: 0 0 5px var(--nav-bar-color-hover);
  border: 1px solid var(--nav-bar-color-hover);
  outline: none;
}

.modal {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  max-width: 100%;
  max-height: 100%;
  background-color: pink;
  border-radius: 25px;
  padding: 25px;
}

.modal-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

svg {
  pointer-events: all;
  width: 20px;
  height: 20px;
}

.svg-icon {
  width: 1.5em;
  display: none;
}

.delete {
  margin-left: auto;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect
{
  fill: black;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.svg-icon rect {
  fill: none;
}

svg:hover path{
  fill: #2375FF;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.project-button:hover svg {
  display: inline-block;
}